.inner h1 {
    padding-top: 0em;
}

#monitor li {
    font-size: 1.25em;
    list-style-type: none;
    padding-top: 5px;
    margin-bottom: 5px;
    color: rgba(57,57,57,0.7);
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#collector {
    font-size: 1.5em;
    padding-top: 0em;
    margin: 0;
}

#status {
    margin-bottom: 0.5em;
}