.inner h1 {
    padding-top: 3.8em;
}

.dataLink li {
    font-size: 1.2em;
    list-style-type: none;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dataLink li:hover {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.dataLink{
    padding-left: 0px;
}

#countryList {
    -webkit-columns: 4 150px;
    -moz-columns: 4 150px;
    columns: 4 150px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

.letters li {
    font-size: 22px;
    list-style-type: none;
    padding-left: 5px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.countries li {
    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    font-size: 15px;
    padding-left: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.countries li:hover {
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.countries {
    margin-bottom: 10px;
}

#loadText {
    position: absolute;
    top: 20em;
    left: 4em;
    display: none;
}

#loadText > h1 {
    font-weight: normal;
    font-size: 1.5em;
    color: rgba(255,255,255,0.8);
}

#back {
    display: none;
}

#dataSel {
    margin-bottom: 3em;
    overflow-x: hidden;
    display: none;
}

#dataSel:hover {
    overflow: -moz-scrollbars-horizontal;
    overflow-x: auto;
}

#dataVis {
    display: none;
    margin-bottom: 3em;
    overflow-x: hidden;
}

#dataVis:hover {
    overflow: -moz-scrollbars-horizontal;
    overflow-x: auto;
}

#dataTable {
    margin-left: 14.5em;
    margin-bottom: 3em;
    overflow-x: hidden;
}

#dataTable:hover {
    overflow: -moz-scrollbars-horizontal;
    overflow-x: auto;
}

#dataRes {
    padding-top: 5.4em;
    left: 4em;
    display: none;
}

.bar--positive {
  fill: rgba(221,221,221, 0.6);
}

.bar--negative {
  fill: rgba(142,142,142, 0.8);
}

/*.axis text {
  font: 0.8em sans-serif;
  fill: rgba(255,255,255,1);
}

.x text {
  font: 0.5em;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: rgba(255,255,255,0.3);
  shape-rendering: crispEdges;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding-right: 6px;
  width: 8em;
  font: 0.9em sans-serif;
  text-align: center;
  vertical-align: middle;
  padding: 0.4em 0.75em 0.35em 0.75em;
}

tr:nth-child(2) th {
    width: 4em;
}

thead tr:first-child th:nth-child(n+2) {
    border-left: solid 0.15em rgba(255, 255, 255, 0.3);
    border-right: solid 0.15em rgba(255, 255, 255, 0.3);
}

thead tr:nth-child(2) th:nth-child(2n) {
    border-left: solid 0.15em rgba(255, 255, 255, 0.3);
}

thead tr:nth-child(2) th:nth-child(2n+1) {
    border-right: solid 0.15em rgba(255, 255, 255, 0.3);
}

thead tr:first-child th:first-child {
    position: absolute;
    text-align: right;
    width: 12em;
    left: 3em;
    border: 0;
    padding-top: 4em;
    font-weight: bold;
}

/*thead tr:nth-child(2) th:nth-child(2n+1) {
    border-right: solid 0.15em rgba(255, 255, 255, 0.15);
}*/

thead td {
  cursor: s-resize;
}

tbody td {
  font: 0.85em sans-serif;
  width: 4em;
}

tbody td:nth-child(2n) {
    border-left: solid 0.15em rgba(255, 255, 255, 0.3);
    color: rgba(255,255,255,0.7);
}

tbody td:nth-child(2n+1) {
    border-right: solid 0.15em rgba(255, 255, 255, 0.3);
    color: rgba(255,255,255,0.7);
}

tbody td:first-child {
  position: absolute;
  display: table-cell;
  text-align: right;
  vertical-align: bottom;
  width: 17em;
  left: 4em;
  font: 0.9em sans-serif;
  color: #ffffff;
  height: 3em;
  padding: 0.3em 0.75em 0.3em 0em;
  border: 0;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
